.project__descriptors {
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__descriptors > h1 {
  font-size: 48px;
  margin: 12px auto;
}

.project__descriptors > h3 {
  font-size: 24px;
  margin-top: 0;
}

.project__descriptors > h1, 
.project__descriptors > h3, 
.project__descriptors > h4 {
    transform: translateX(-600px);
    transition: all 300ms ease-in-out;
}

.project__descriptors:hover h1, 
.project__descriptors:hover h3, 
.project__descriptors:hover h4 {
    transform: translateX(0);
}

.project__descriptors:hover > img {
    filter: blur(6px) brightness(.5);
    transform: scale(1.2);
} 

.project__descriptors > img {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  transition: 300ms all ease-in-out;
}
