.nav-wrapper {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.small__nav--menu {
  display: none;
}

.display-small__nav{
  display: block;
}

.nav__left {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: left;
}

.nav__left > div,
.nav__left > a {
  padding-right: 4vmin;
}

.nav__left > a {
  color: silver;
  transition: all 300ms ease;
}

.nav__left > a:hover {
  transform: scale(1.1);
  color: var(--primary-color);
}

.nav__left > a > .MuiSvgIcon-root {
  font-size: 32px;
}

.nav__logo-wrapper > img {
  height: 75px;
  margin-left: 24px;
}

.nav__logo-wrapper:hover {
  cursor: pointer;
  filter: contrast(0.5);
}

.nav__right {
  flex: 0.5;
}

.nav__right-small {
  display: none;
}

.small-nav__burger > .MuiSvgIcon-root {
  font-size: 48px;
}

.nav__menu {
  color: white;
  margin-right: 20px;
}

.nav__menu:hover {
  cursor: pointer;
}


.nav__right > ul {
  color: silver;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 680px;
  font-weight: 700;
  list-style: none;
  margin-right: 16px;
}

.nav__right > ul > li {
  position: relative;
  cursor: pointer;
  padding: 8px;
  border: 2px solid;
  border-image: repeating-linear-gradient(
      135deg,
      var(--primary-color) 0 10px,
      var(--primary-color-hover) 0 20px
    )
    1;
  mask: conic-gradient(from 180deg at top 8px right 8px, #0000 90deg, #000 0)
      var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
    conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0
      var(--_i, 200%) / var(--_i, 8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 0.3s, -webkit-mask-position 0.2s 0.2s;
}

/* .nav__right > ul > li:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0;
    height: 2px;
    width: 0;
    background-color: var(--primary-color);
    transition: all 200ms ease-in-out;
}

.nav__right > ul > li:hover:after {
    left: 0;
    width: 100%;
} */

.nav__right > ul > li:hover {
  color: var(--primary-color-hover);
  --_i: 100%;
  transition: 0.2s, -webkit-mask-size 0.2s 0.2s;
}

@media (max-width: 1200px) {
  .nav__left {
    flex: .3;
  }
  .nav__right {
    flex: 0.7;
  }
}

@media (max-width: 950px) {
  .nav__left{
    flex: .1;
  }
  .nav__right {
    flex: 0.9;
    justify-content: space-between;
  }
}

@media (max-width: 900px) {
  .nav__right-small {
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .nav__right > ul {
    display: none;
  }
}