body {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient();
  --primary-color: #0E4A6B;
  --primary-color-hover:#5198be;
  --background-color: #ED7B2E;
  --call-to-action: #ffffff;
}

